*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Segoe UI, sans-serif;
  background:linear-gradient(135deg,#667eea,#764ba2);
  min-height:100vh;

}

.container{
  width:100%;
  max-width:420px;
  background:#fff;
  padding:40px;
  border-radius:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.15);

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.container h2{
  text-align:center;
  margin-bottom:25px;
  color:#222;
}

.container form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.container input{
  padding:14px;
  border:1px solid #ddd;
  border-radius:10px;
  font-size:15px;
  outline:none;
}

.container input:focus{
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.container button{
  padding:14px;
  border:none;
  border-radius:10px;
  background:#667eea;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.container button:hover{
  background:#4f46e5;
}

.link-text{
  text-align:center;
  margin-top:20px;
}

.link-text a{
  text-decoration:none;
  color:#667eea;
  font-weight:600;
}

.dashboard{
  
  min-height:100vh;
  display:flex;
  justify-content:center;
  padding: 40px 20px;
  align-items:center;
  background: linear-gradient(135deg,#4f46e5, #2563eb);
}

.dashboard-card{
  background:white;
  width:400px;
  padding: 25px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 5px 20px rgba(0,0,0,0.2);
  flex-direction: column;
  gap: 15px;
  display: flex;
  margin: 40px 0;

}

.dashboard-card h1{
  color:#222;
  margin-bottom:20px;
  align-items: center;
}

.dashboard-card h2{
  color:#555;
  margin-bottom:30px;
}
.dashboard-card input,.dashboard-card textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #555;
  font-size: 16px;
  box-sizing: border-box;
 
  color: white;

}
.dashboard-card textarea {
  height: 80px;
  resize: none;
}
.dashboard-card input,.dashboard-card textarea,.dashboard-card button {
  margin: 8px 0;
}
.logout-btn{
  border:none;
  background:#ef4444;
  color:white;
  padding:12px;
  border-radius:8px;
  cursor:pointer;
  font-size:15px;
  font-weight: 600;
}

.logout-btn:hover{
  background:#dc2626;
}
.update-btn{
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

@media(max-width:500px){

  .container{
    width:90%;
    padding:25px;
  }
  .dashboard-card{
    width: 90%;
    padding: 25px;
  }
  }
  .dashboard-card input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
  }
  .dashboard-card button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .logout-btn{
    background: #ef4444;
    color: white;
    
  }
.dark{
  background: #121212;
  color: white;
  }
  .dark .dashboard-card {
  background: #1e1e1e;
  color: white;
  }